# Dependencies
node_modules/
**/node_modules/

# Secrets & Service Accounts
*firebase-adminsdk*.json
**/ *firebase-adminsdk*.json
firebase-service-account.json
**/firebase-service-account.json

# Build & Expo outputs
dist/
**/dist/
build/
**/build/
.expo/
**/.expo/
.next/
**/.next/
out/
**/out/

# Android build & Gradle caches
.gradle/
**/.gradle/
android/.gradle/
**/android/.gradle/
android/app/build/
**/android/app/build/
android/build/
**/android/build/
*.apk
*.aab

# Environment variables & secrets
.env
**/ .env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
